#body{
	background-color: #EEE;
}
#container{
	background-color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#header{
	background-color: blue;
	color: white;
	text-align: center;
}

#image{
	text-align: center;
}
#content{ 
	padding: 8px;
}
#nav{
	width: 180px;
	float: left;
}

#footer{
	background-color: #999999;
	padding: 10px;
	clear: both;
	color:white;
	text-align: right;
}
